extends ../layout
block content
  h1 Buscar alumno
  form(method="post", action="#{action}")
    -if(put)
      input(type="hidden", name="_method", value="PUT")
    label Rut
    br
    input(type="text", name="rut", required="required", value="#{alumno.rut}")
    br

    input(type="submit", value="Buscar")
    a(href="/alumnos") Cancelar