extends ../layout
block content
  h1 #{alumnos.nombre} #{alumno.apellido}
  div(style='white-space:pre;') #{alumno.rut}
  br
  div(style='white-space:pre;') #{alumno.carrera}
  br
  a(href="/alumnos") Volver atrás